<!DOCTYPE html>
<html>
  <head>
    <title>Basic App | <%= @title %></title>
  </head>
  <body>
    <h1>About</h1>
    <p>This is a basic application through which I am learning how to use Ruby on Rails.</P>
  </body>
</html>
