<h1>The Help Page</h1>
<p>As of right now there's not much to say.</p>
<p>There's just a series of static pages.</p>
<p>Go to the <a href="./home">Home</a> page to navigate around.</p>
<p>If you still have questions try the <a href="./contact">Contact<a> page.</p>
