<!DOCTYPE html>
<html>
  <head>
    <title>Basic App | Home</title>
  </head>
  <body>
    <h1>Home</h1>
    <p>From here we can go... Anywhere!</p>
    <p>For exampls: <a href="./about">about</a> page, or perhaps the <a href="./contact">contact</a> page.</p>
    <p>Truly, the possibilities are endless.</p>
  </body>
</html>
